.sidebar {
  background-color: #6FF2E0;
  float: left;
  border: 4px dotted #EE4D43;
  margin: 2px;
  padding: 5px;
}

.column {
  width: 200px;
  float: left;
  text-align: left;
  padding-left: 10px;
}

.images {
  float: right;
  width: 30%;
  padding: 1%;
}

h1 {
  text-align: center;
  color: #F48727;
}
